body{
	margin:  0;
	padding: 0;
	background-color: pink;
	background: -webkit-linear-gradient(top,rgb(255, 255, 255),rgb(246, 146, 30));;
}

nav{
	position: fixed;
	top: 10%;
	left: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
}

nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

}

nav ul li{
	font-size:1.50em;
	margin: 7%;
	list-style: none;
}

header{

	padding: 10%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	
}

.logo{
	margin-top: 2%;
	margin-left: -62%;
	width: 20%;
	height: 25%;
}

header div{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

header h1{
	letter-spacing: 0.1em;
	font-size: 2.90em;
	text-transform: uppercase;
	text-align: left;
	

}

.cor-1{
	position:absolute;
	top: 32%;
	left: 34%;
	color: #0000ff;
}
.cor-01{
	position:absolute;
	top: 43%;
	left: 13%;
	color: #0000ff;
}

.cor-2{
	color: #FF0000;
	position:absolute;
	top: 50%;
	left: 13%;
	
}


.cor-3{
	color: #00FF00;
	position:absolute;
	top: 58%;
	left: 28%;

}

.cor-4{
	color: #FFA500;
	position:absolute;
	top: 58%;
	left: 64%;
}
.cor-04{
	color: #FFA500;
	position:absolute;
	top: 65%;
	left: 13%;

}

.cor-5{
	font-size: 6em;
	color: #000;
	position:absolute;
	top: 53%;
	left: 47%;
}

.logo-2{
	margin-top: 16%;
	margin-left: 39%;
	width: 30%;
	height: 30%;
}

main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#SOBRE{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 1.20em;
	width: 45%;
	height: 100%;
}






 

	
/*.menu{
	margin: 0%;
	font-family: 'AzoSans-Bold';
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: -2%;
	left: 15%;
	width: 50%
	color:black;
	line-height: 31.2px;
	letter-spacing: 0.0em;
	left: 30%;
	z-index: 4;

}
ul li{
	padding: 0%, 0,5%;
	display: inline;
	margin: 60px; 
	top: -400%;
	left: 40%;
	list-style:none;
}

nav ul li{
	transform: scale(1.5);
}
li{
	display: inline;
	margin: 100px;
	color: black; 
	top: -400%;
	left: -10%;
}

header,section,div{
	background-color: #000;
	background-color: grey;
	background-color: pink;

}
header, section{
position: relative;
}
.img1{
	margin-left: 10%;
	width:15%; 
	height: 30%;
	position: relative;
	justify-content: center;
	align-items: center;
	padding-top:0%;
	top: 85px;
	left: 5%;
}
	
}
.text1{
	font-family: 'AzoSansUber-Regular';
	font-size: 63px;
	color:;
	font-style: normal;
	text-align: left;
	line-height: 90px;
	letter-spacing: 0.02em;
}

.text-blue { 
	margin: 0%;
	font-family: 'AzoSansUber-Regular';
	font-size: 63px;
	color:blue ;
	font-style: normal;
	text-align: left;
	line-height: 90px;
	letter-spacing: 0.02em;
}
.text-red{
	margin: 0%;
	font-family: 'AzoSansUber-Regular';
	font-size: 63px;
	color: red;
	font-style: normal;
	text-align: left;
	line-height: 90px;
	letter-spacing: 0.02em;
}
.text-green{
	margin: 0%;
	font-family: 'AzoSansUber-Regular';
	font-size: 63px;
	color:green;
	font-style: normal;
	text-align: left;
	line-height: 90px;
	letter-spacing: 0.02em;
} 
.text-oranje{
	margin: 0%;
	font-family: 'AzoSansUber-Regular';
	font-size: 63px;
	color:orange ;
	font-style: normal;
	text-align: left;
	line-height: 90px;
	letter-spacing: 0.02em;
}
.text-black{
	margin: 0%;
	font-family: 'AzoSansUber-Regular';
	font-size: 63px;
	color:black;
	font-style: normal;
	text-align: left;
	line-height: 90px;
	letter-spacing: 0.02em;

}
.img2{
	width:25%; 
	height: 25%;
	position: relative;
	justify-content: center;
	align-items: center;
	padding-top:0%;
	top: -500px;
	left: 70%;
}

.text2{
	width:52%; 
	height: 15%;
	text-align: left;
	position: relative;
	font-family:;
	font-size: 20px;
	justify-content: center;
	align-items: center;
	padding-top:20%; 
	top: -450px;
	left: 35%;
	
}

section{
	height: 5px;
	width:0 %;
	margin: -32%;
	justify-content: center;
	align-items: center;
	color: #000000;
}

.text3{
	width: ;
	height: 15%;
	position: relative;
	justify-content: center;
	align-items: center;
	font-family: ;
	color: blue;
	padding-top: 5%;
	top: 740px;
	left: 07%;

}
.a{
	width:52%; 
	height: 15%;
	position: relative;
	font-family:;
	font-size: 20px;
	justify-content: center;
	align-items: center;
	padding-top:20%; 
	top: 430px;
	left: 7%;

}
.ver-mais1{
	position: relative;
	color: red;
	top:550px ;
    left:7% ;
}

.text4{
	width: ;
	height: 15%;
	position: relative;
	justify-content: center;
	align-items: center;
	font-family: ;
	color: blue;
	padding-top:70px;
	top: 126px;
	left: 40%;
}

.b{
	
	position: relative;
	font-family:"Anton";
	font-size: 20px;
	justify-content: center;
	align-items: center;
	top:80px;
	left:40%;
}
.ver-mais2{
	position: relative;
	color: red;
	top:70px ;
    left:40% ;

}
.text5{
	height: 15%;
	position: relative;
	justify-content: center;
	align-items: center;
	font-family: ;
	color: blue;
	padding-top:70px;
	top: -385px;
	left: 75%;

}
.c{
	width%; 
	height: %;
	position: relative;
	font-family:;
	font-size: 20px;
	justify-content: center;
	align-items: center;
	padding-top:%; 
	top:-440px;
	left:75%;
}
.ver-mais3{
	position: relative;
	color: red;
	top:-450px ;
    left:75% ;
}
.img3{
	width:15%; 
	height: 30%;
	position: relative;
	justify-content: center;
	align-items: center;
	top: 14px;
	left: 30%;	
	background-color: #000;
}
.gmail{ 
	
	font-family:'AzoSansUber-Regular';
	display: flex;
	font-size: 28.3px ;
	position: relative;
	font-style: normal;
	color: rgb(0,0,0); 
	letter-spacing: 0.06em;

	top: 15px;
	left: 30%;
}
.face{
	width:15%; 
	height: 30%;
	position: relative;
	justify-content: center;
	align-items: center; 
	display: 
	padding-top:0%;
	top: -10px;
	left: 27%;	
}
.yout{
	width:15%; 
	height: 30%;
	position: relative;
	justify-content: center;
	align-items: center;
	padding-top:0%;
	top: -10px;
	left: 22%;	
}
.insta{
	width:15%; 
	height: 30%;
	position: relative;
	justify-content: center;
	align-items: center;
	padding-top:0%;
	top: -10px;
	left: 17%;	
}*/